<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
        <title>{% block title 'Добрый день :: Это моё резюме :: Бакулин Михаил Вячеславович :: Веб-разработчик (Back End Developer)' %}</title>
        <meta name="description" content="Resume Bakulin Mikhail Web Developer PHP Back End">
        <!-- /// Favicons ////////  -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('apple-touch-icon-144-precomposed.png') }}">
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}">
        <!-- /// Template CSS ////////  -->
        <link rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/font-awesome.min.css') }}">
        <!-- /// Google Fonts ////////  -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="{{ asset('assets/js/all.min.js') }}"></script>
    </body>
</html>
